In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.optimize import curve_fit #Questo e' qullo importante

# Ground truth
Faccio una simulazioncina "ad minchiam"
con:
 1. `s{i,d,f}` : salario di `i`mpiegati, `d`irigienti, `f`unzionari
 2. `n{i,d,f}` : numero di `i`,`d` e `f`

In [16]:
gt = pd.DataFrame({"year":[2017,2018,2019,2020],"si":[1,1.02,1.04,1.06],"sd":[1.3,1.33,1.35,1.38],"sf":[1.5,1.53,1.56,1.59],"ni":[100,110,105,106],"nd":[10,11,10,10],"nf":[4,4,4,5]})
gt

   year    si    sd    sf   ni  nd  nf
0  2017  1.00  1.30  1.50  100  10   4
1  2018  1.02  1.33  1.53  110  11   4
2  2019  1.04  1.35  1.56  105  10   4
3  2020  1.06  1.38  1.59  106  10   5

Calcolo il salario totale che piu' semplice di cosi' si muore

In [18]:
gt['s'] = (gt['si']*gt['ni']+gt['sd']*gt['nd']+gt['sf']*gt['nf'])

In [19]:
gt

   year    si    sd    sf   ni  nd  nf       s
0  2017  1.00  1.30  1.50  100  10   4  119.00
1  2018  1.02  1.33  1.53  110  11   4  132.95
2  2019  1.04  1.35  1.56  105  10   4  128.94
3  2020  1.06  1.38  1.59  106  10   5  134.11

Ecco questi sono i dati che ho, solo spesa totale in slarai e numeri di `i`, `d` e `f`

In [20]:
data = gt.loc[:,['year','ni','nd','nf','s']].copy()
data

   year   ni  nd  nf       s
0  2017  100  10   4  119.00
1  2018  110  11   4  132.95
2  2019  105  10   4  128.94
3  2020  106  10   5  134.11

# Modello e fit
Ecco il modello una funzione che prende come input i dati `x`, e i parametri sono i salari da fittare.

In [21]:
def model(x,sal_imp,sal_dir,sal_fun):
    inf = 0.02 #Fisso qui, aggiunglo come parametro alla signature della funzione
    tot_s = ( x['ni']*sal_imp + x['nd']*sal_dir + x['nf']*sal_fun )*(1+inf)**(x['year']-2017)
    return tot_s

Ora faccio il fit con `scipy.optimize.curve_fit` passando il modello , le variabili e il target. Devo anche passare un valore iniziale al fit. Che puo' essere anche `None` ma in questo caso gia' non riesco a ottenere un buon fit, qundi meglio passare dei valori sensati in input.  
Posso volendo passare anche constrains qui le info https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.curve_fit.html

In [22]:
initial_guess = (0.9,1.31,1.5) #I tre valori iniziali per si,sd,sf
popt,pcov=curve_fit(model, xdata=data[['year','ni','nd','nf']], ydata=data['s'],p0=initial_guess, method='trf')#Notare il numero di parentesi quadre!
popt

array([0.98538803, 1.46808133, 1.44782147])

Il risultato fa schifo, ho ho fatto un errore del minchia da qualche parte o c'e' poco da fare con questo esempio da tre numeri...